body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 1.5s ease-in-out; /* Slower, breathier transition */
}
img {
    max-width: 80%;
    max-height: 80%;
}